{% extends "base.html" %}
{% block title%} Login {% endblock %}
{% block content %}
<div class="title_text"><h2>Login Here</h2></div>
<div class="container">
    <form action="{% url 'login' %}" method="post" id="loginform">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email ID">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <p>Not Registered? <a href="{% url 'signup' %}">Register</a></p>
        <button type="submit" form="loginform"><b>Submit</b></button>
    </form>
</div>
{% endblock %}